<template name="card">

    <li id="{{ _id }}" class="card">
	    
		<!-- Button trigger modal -->
		<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
			<img src="{{ img_url }}"/>
			{{headline}}
		</button>

		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">{{headline}}</h4>
		      </div>
		      <div class="modal-body">
		        {{getStory storyFileName}}
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>

		{{#if is_published}}
			<input type="button" class="unpublish" value="Unpublish">
		{{else}}
			<input type="button" class="publish" value="Publish">
		{{/if}}

    </li>


</template>
